body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    background: #777ADF;
    padding: 100px;
    justify-content: center;
}

.portfolio {
    border-right: 1px solid #abade7;
    padding-right: 20px;
}

.avatar{
    border: 1px solid black;
    border-radius: 50%;
}

.name {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.detail {
    padding: 10px;
    margin-left: 20px;
    justify-content: space-around;
}

.introduction {
    padding: 30px;
    background-color: #D6D7F5;
}

.interest {
    padding: 30px;
    background: #EBEBFF;
}

.interest-content .title {
    position: absolute;
    top: -15px;
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    background: #EBEBFF;
    font-weight: bold;
}

.interest-content {
    width: 750px;
    position: relative;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #E0CCFF;
    border-radius: 10px;
    font-size: 20px;
    line-height: 27px;
}

.intro-content {
    width: 750px;
    position: relative;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #B380FF;
    border-radius: 10px;
    font-size: 20px;
    line-height: 27px;
}

.intro-content .title {
    position: absolute;
    top: -15px;
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    background: #D6D7F5;
    font-weight: bold;
}